.intro { 
  background-color: url('images/trees.png');
}

#txtbox {
    font-size: 18pt;
    height: 20px;
    width : 200px;
}

.left_margin{
    margin-left: 15px;
}

.top_margin {
    margin-top: 15px;
}

.one_line {
    display: inline-block;
    overflow: hidden;
}
.long_input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.section_nav {
    display: block;
    height: 151px;
    padding-top: 15px;
}

.wrapper {
    position: relative;
    display: block;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.header {
    height:75px;
    display: block;
    padding-top: 0;
    padding-bottom: 0;
}

.homepage_icon {
    position: relative;
    z-index: 10000;
    display: inline-block;
    float: left;
}

.login_header {
    position: relative;
    z-index: 10000;
    display: inline-block;
    float: right;
}
.login_button {
    border-radius: 1px;
}

.logout {
    position: relative;
    z-index: 10000;
    display: inline-block;
    float: right;
}



.image_box {
    width: 870px;
    margin: auto;
    overflow: hidden; /*超出width部分不会再填充别的div*/
}
.image_format {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 1%;
    float: left;
}

/*procedure part start*/
.procedure_mainpage {
    margin-right: -15px;
    margin-left: -15px;
    text-align: left;
}

.procedure_col {
    padding: 0 0px;
    width: 33.33333333%;
    position: relative;
    float: left;
    display: blcok;
}

.procedure_link {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 12px;
    padding-bottom: 3px;
    border-bottom: 1px dotted #adadad;
    font-family: 'Helvetica Neue Light',sans-serif;
    font-size: 22px;
    line-height: 26px;
    padding-left: 0;
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
    overflow: hidden;
    display: inline-block;
}
/*procedure part end*/
.doctorpage_div {
    overflow: hidden;
    margin-top: 30px;
    width: 80%;
    border: 1px solid;
    margin-right: 10%;
    margin-left:10%;
    padding-top: 10px;
    padding-bottom: 5px;
}

.doctorpage_button {
    width: 98%;
    height: 100px;
    display: block;
    margin: 0 auto;
    padding-bottom: 5px;
}

.doctorpage_button_font {
    margin-left: 10px;
    font-family: 'Helvetica Neue',sans-serif;
    font-size: 22pt;
    color: blue;
    line-height: 19px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 0;
    text-transform: none;
    color: black;
}

a.doctor_a:link {
  color: red;
  text-decoration: none;
}

/* visited link */
a.doctor_a:visited {
  color: green;
  text-decoration: none;
}

/* mouse over link */
a.doctor_a:hover {
  color: hotpink;
  text-decoration: underline;
}

/* selected link */
a.doctor_a:active {
  color: blue;
  text-decoration: underline;
}

/*booking part start*/
.booking_box {
    float: left;
    background: white;
    border-radius: 25px;
    border: 2px solid black;
    padding: 10px;
    width: 320px;
    height: 640px;
    margin: 50px;
}

.booking_header {
    flex-direction: row;
    display: flex;
    height: 40px;
    width: 320px;
    border-bottom: 2px solid #eee;
}

.week_selector {
    display: flex;
    padding: 4px 0;
    font-size: 14px;
    border-bottom: 1px solid #eee;
}
.week_time {
    display: inline-block;
    width: 150px;
    text-align: center;
}
.day_of_week {
    background: none;
    list-style-type: none;
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.day_button {
    width: 150%;
    border: 1px solid #74a73a
}

.time_list {
    background: none;
    padding: 20px;
    list-style-type: none;
    text-align: left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.time_slot {
    display: flex;
    margin: 4px;
    background-color: #cdeccf;
    font-size: 14px;
    padding: 2px 4px;
    cursor: pointer;
    justify-content: center;
    border-radius: 12px;
}

.register_box {
    display: inline-block;
    background: white;
    border-radius: 25px;
    border: 2px solid black;
    padding: 10px;
    width: 40%;
    height: 640px;
    margin: 50px;
}

.row {
    height:40px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
}

.title {
    display: inline-block;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.content {
    display: inline-block;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

/*booking part end*/
.p1 {
    text-align: center;
}

h1 {
	text-align: center;
}

h2 {
    font-weight: 700;
    margin: 0 auto;
}

h3 {
    font-weight: 500;
    text-align: center;
}

h4 {
    font-weight: 400;
    text-align: center;
}

h5 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}

.h5 {
    width: 80%;
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
}

ul {
margin: 0;
padding: 0;
list-style-type: none; 
overflow: hidden; 
}

.nav_link {
    border-width: 1px 1px 4px;
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
}

.nav_font {
    font-family: 'Helvetica Neue',sans-serif;
    font-size: 18pt;
    color: blue;
    line-height: 19px;
    font-weight: 300;
    text-align: left;
    letter-spacing: 0;
    text-transform: none;
    color: #004f9a;
}

li.nav {
float: left; 
}

li.nav a, .dropbtn {
display: inline-block; 
text-align: justify;
text-decoration: none;
padding: 14px 16px;
}

li.nav a:hover, .dropdown:hover .dropbtn { 
    border-style: none none solid;
}

.dropdown {
display: inline-block;
text-align: justify;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
display: block;
color: black;
padding: 10px 10px;
text-decoration:none;
}

.dropdown-content a:hover {
background-color: #ffffff;
}


.dropdown:hover .dropdown-content{
display: block;
}


.box ul {
	list-style-type: none;
	margin:0px; padding:0px;
}

.box li {
	margin-right:15px;
	padding:0px;
	float:left;
	height:50px;
}

.center {
    display: block;
	margin: 0 auto;
}


.small 
{
height: 80px
}

.search {
  display: block;
  width: 600px;
  height: 40px;
  border: 1px solid #ccc;
  background-color: #f2f2f5;
  margin: 0 auto;
}
.search_input {
  width: 600px;
  float: left;
  display: block;
  height: 40px;
  line-height: 28px \9;
  padding: 0 8px;
}

/*login*/
.login_box {
    display: none;
    background-color: white;
    color: #8d8d8d;
    font-family: Helvetica;
    font-size: 14px;
    max-width: 220px;
    padding: 28px;
    text-align: left;
    z-index:1002; 
    overflow: auto;
    position: absolute;
    
    &.visible {
    display: block;
    }
}

.a_login {
    float: right;
}


.center_in_center{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.black_overlay{ 
    display: none; 
    position: absolute; 
    top: 0%; 
    left: 0%; 
    width: 100%; 
    height: 100%; 
    background-color: #8a8a8a; 
    z-index:1001; 
    -moz-opacity: 0.8; 
    opacity:.80; 
    filter: alpha(opacity=88); 
}

.hide {
    display: none;
}



.input_login
{
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

.input_submit
{
    margin: auto;
    width: 220px;
    height: 32px;
    background: black;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;
}

.banner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    min-height: 60px;
    border-bottom: 1px solid rgba(0,0,0,.0975);
}
/*login*/




/*footer start*/
.footer_sec {
    position: static;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 2px none #d5d5d5;
    background-color: #3c3f48;
    overflow:hidden;
}

.footer_col {
    position: relative;
    padding: 15px;
    text-align: left;
    width: 25%;
    display: block;
    float: left;
}

.back_to_top {
    position: relative;
    z-index: 10000;
    display: inline-block;
    float: right;
}


ul.footer_ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}


.footer_font{
    display: inline-block;
    transition: color 300ms ease;
    font-family: 'Helvetica Neue Light',sans-serif;
    color: rgba(255,255,255,.8);
    font-size: 14px;
    letter-spacing: .25px;
    text-transform: none;
    margin-bottom: 5px;
}
a.footer_font {
    text-decoration: none;
}






