{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="container box" style="margin-top: 40px; width: 100% !important;">
                <h2 style="text-align: center;">Booking Results</h2>
                <div class="table-responsive">
                <table id="booking" class="table table-bordered table-scriped" style="width: 100% !important">
                    <thead style="background: cadetblue;">
                    <tr>
                        <th style="width:55%;">Clinic Name</th>
                        <th style="width:15%;">Patient Name</th>
                        <th style="width:15%;">Patient Email</th>
                        <th style="width:15%;">Booking Date</th>
                        <!-- <th style="width:10%;">Delete</th> -->
                    </tr>
                    </thead>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <script src="/static/datatables.min.js"></script> -->
<script type="text/javascript">
    $(document).ready(function(){
        console.log("ddd")
        var token = '{{csrf_token}}';
        var dataTable = $('#booking').DataTable({
        "processing":true,
        "serverSide":true,
        "order":[],
        "ajax":{
            headers: { "X-CSRFToken": token },
            type: 'POST',
            url: "result/",
            dataSrc: function ( data ) {
                $('.dataTables_wrapper').removeClass('table-loading');
                return data.data;
            }
        },    
        "columns":[
        {data:"clinic"},
        {data:"p_name"},
        {data:"p_email"},
        {data:"date"}
        ]
    });
});
</script>
{% endblock %}

    