{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="container box" style="margin-top: 40px; width: 100% !important;">
                <h2 style="text-align: center;">Booking Results</h2>
                {% if role == '1' %}
                <div class="table-responsive">
                    <table id="booking">
                    <thead>
                        <tr>
                            <th>Clinic Name</th>
                            <th>Patient Name</th>
                            <th>Patient Email</th>
                            <th>Patient Birthday</th>
                            <th>Patient Phone</th>
                            <th>Booking Date/Time</th>
                            <th colspan="2">Booking Status</th>
                            <th>Send Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for book in all %}
                            <tr>
                                <input type="hidden" value="{{book.id}}">
                                <td>{{book.clinic_name}}</td>
                                <td>{{book.fname}} &nbsp; {{book.lname}}</td>
                                <td>{{book.email}}</td>
                                <td>{{book.birthday}}</td>
                                <td>{{book.phone}}</td>
                                <td>{{book.dateTime}}</td>
                                {% if book.status == 'accepted' %}
                                    <td>
                                        <p>Accepted</p>
                                    </td>
                                    <td></td>
                                {% elif book.status == 'rejected' %}
                                    <td></td>
                                    <td>
                                        <p>Rejected</p>
                                    </td>
                                {% else %}
                                    <td>
                                        <p id="accepted{{book.id}}" style="display: none;">Accepted</p>
                                        <button class="btn btn-success accept_btn" id="accept{{book.id}}">Accept</button>
                                    </td>
                                    <td>
                                        <p id="rejected{{book.id}}" style="display: none;">Rejected</p>
                                        <button class="btn btn-danger reject_btn" id="reject{{book.id}}">Reject</button>
                                    </td>
                                {% endif %}
                                <td style="text-align: center;"><a href="/chat/upload/{{book.bookedfrom}}"><i class="fa fa-comments fa-lg" aria-hidden="true"></i></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
                {% else %}
                    <h5 style="text-align: center;">You are not available to see Booking results</h5>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
      $(document).ready(function(){
        var token = '{{csrf_token}}';
        $('.accept_btn').on('click',function(){
            var tdv = this.parentNode;
            var trv = tdv.parentNode;
            var inp = trv.children[0]['value'];
            var data = 'accepted';
            var book_id = inp;
            $.ajax({
                headers: { "X-CSRFToken": token },
                type: 'POST',
                url: "/clinics/booking_permission",
                data: {status:data, book_id:book_id},
                success: function (res) {
                    console.log(res)
                    $('#'+'accept'+res).css("display","none");
                    $('#'+'accepted'+res).css("display","block");
                    $('#'+'reject'+res).css("display","none");
                }
            });
        })

        $('.reject_btn').on('click',function(){
            var tdv = this.parentNode;
            var trv = tdv.parentNode;
            var inp = trv.children[0]['value'];
            var data = 'rejected';
            var book_id = inp;
            $.ajax({
                headers: { "X-CSRFToken": token },
                type: 'POST',
                url: "/clinics/booking_permission",
                data: {status:data, book_id:book_id},
                success: function (res) {
                    console.log(res)
                    $('#'+'reject'+res).css("display","none");
                    $('#'+'rejected'+res).css("display","block");
                    $('#'+'accept'+res).css("display","none");
                }
            });
        })
            
        
      });
    </script>
{% endblock %}

    