{% extends 'base.html' %}
{% block content %}
<div class="container" style="margin-top: 70px;">
    <div class="row">
        <div class="col-6">
            <div class="clinic">
                <h4>{{clinic.name}}</h4>
                <h5>Address: {{clinic.address}}</h5>
                <h5>Phone: {{clinic.phone}}</h5>
                <h5>Work Time: {{clinic.work_time}}</h5>
            </div>
            <div>
                <hr>
                {% if user.is_authenticated and role == '2' %}
                    {% if booked_clinic is None %}
                        <a href="booking"><button class="btn btn-primary" style="width: 60%; margin-top:20px">Book Now</button></a>
                    {% else %}
                        {% if booked_clinic.status %}
                            <h5 style="color:grey">This Booking has been {{booked_clinic.status}}</h5>
                        {% else %}
                            <h5 style="color:grey">You have already Booked to this clinic</h5>
                        {% endif %}
                    {% endif %}
                {% else %}
                    <h5>You should <a href="/accounts/login/">login</a> as a <span><strong>Patient</strong></span> to Book</h5>
                {% endif %}
            </div>
            <input type="hidden" name="longitude" id="longitude" value="{{clinic.longitude}}">
            <input type="hidden" name="latitude" id="latitude" value="{{clinic.latitude}}">
        </div>
        <div class="col-6">
            {% if clinic.image %}
            <img src="{{clinic.image.url}}" style="width:100%;height:200px;">
            {% endif %}
        </div>
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col-12">
            <div id="map-canvas" style="width:100%; height: 300px;"></div>
        </div>
    </div>
    
</div>
<script type="text/javascript">
   var long = $('#longitude').val();
   var lat = $('#latitude').val();
   function addMarker() {
        var pos = new google.maps.LatLng(long, lat);
        marker1 = new google.maps.Marker({
            position: pos,
            map: map,
            visibility: false
        });
    }

   function initialize() {
        var center = new google.maps.LatLng(long, lat);
        var mapOptions = {
            zoom: 15,
            center: center,
            mapTypeId: google.maps.MapTypeId.TERRAIN
        };
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        addMarker();
    }
    initialize();
</script>
{% endblock %}