<!DOCTYPE html>
<html>
<head>
<title>Adding a DateTime Picker with Bootstrap by solodev</title>

	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
	<style type="text/css">
		.container {
			margin-top: 120px;
		}
		.btn-primary {
			width: 100%;
		}
	</style>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script> 
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

</head>
<body>

<div class="container">
    <h3 style="text-align: center;"><span style="font-weight: bold;">{{c_booking.name}}&nbsp;&nbsp;</span>Clinic Booking System</h3>
   <div class="panel panel-primary">
      <div class="panel-heading">Booking Schedule</div>
      <form action="confirmBooking/" method="POST" id="booking-form">
        {% csrf_token %}
        <div class="panel-body">
            <div class="row">
            <div class="col-md-12">
                    <h5 style="text-align: right;"><span style="font-weight:bold">Address:&nbsp;</span>{{c_booking.address}}</h5>
            </div> 
            <div class="col-md-12">
                    <h5 style="text-align: right;"><span style="font-weight:bold">Phone:&nbsp;</span>{{c_booking.phone}}</h5>
                </div>
                <div class="col-md-12">
                    <h5 style="text-align: right;"><span style="font-weight:bold">Working Time:&nbsp;</span>{{c_booking.work_time}}</h5>
                </div>  
            </div>
            <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">First Name</label>
                    <input type="text" class="form-control" name="fname" id="fname" required value="{{current_user.first_name}}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Last Name</label>
                    <input type="text" class="form-control" name="lname" id="lname" required value="{{current_user.last_name}}">
                </div>
            </div>
            </div>
            <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input type="email" class="form-control" name="email" id="email" required value="{{current_user.email}}">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Date of Birth</label>
                    <input type="date" class="form-control" name="birth" id="birth" required value="{{current_user.birth}}">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Phone</label>
                    <input type="text" class="form-control" name="phone" id="phone" required>
                </div>
            </div>

            <div class='col-md-6'>
                <div class="form-group">
                    <label class="control-label">Appointment Time</label>
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" name="datetime" id="datetime" required />
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            </div>
            <div class="row" style="display: flex;justify-content: flex-end;">
                <div class="col-md-4" >
                    <input type="submit" class="btn btn-primary" value="Submit">
                </div>
                <div class="col-md-4" >
                    <input type="button" class="btn btn-primary" value="Close" id="cancel">
                </div>
            </div>  
        </div>
      </form>
   </div>
</div>
 
<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" id="resultModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="booking_confirm">{{c_booking.name}}</h3>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(document).ready(function(){
        $('#datetimepicker1').datetimepicker({ 
            daysOfWeekDisabled: [0,6],
            enabledHours: [ 8, 9, 10, 11, 12, 13, 14, 15, 16],
            stepping: 30
        }); 
    });
    $('#cancel').click(function(){
        var oldURL = document.referrer;
        location.href = oldURL;
    });
    $('#booking-form').on('submit', function(e){
        e.preventDefault();
        var firstName = $('#fname').val();
        var lastName = $('#lname').val();
        var email = $('#email').val();
        var dateTime = $('#datetime').val();
        var birth = $('#birth').val();
        var phone = $('#phone').val();
        var token = '{{csrf_token}}';
        $.ajax({
            headers: { "X-CSRFToken": token },
            type: 'POST',
            url: "confirmBooking/",
            data: { fname:firstName,lname:lastName,email:email,datetime:dateTime,birth:birth,phone:phone},
            success: function(data){
                console.log(data[0])
                $('#resultModal').modal('show');
                var content = '<h4>Dear'+ '&nbsp;&nbsp;<span style="font-weight:bold">'+data[0][1] +'&nbsp;&nbsp;'+ data[0][2] +'</span></h4><h4>Thank you for book <span style="font-weight:bold">'+ data[0][5] +'</span> clinic.</h4><h4>You should be available on <span style="font-weight:bold">'+ data[0][4] +'</span> in 30 minutes</h4>';
                $('.modal-body').append(content);
            }
        });
    });   
</script>
</html>