{% extends 'base.html' %}
{% block content %}
<div class="container">
	<h2 style="text-align: center; margin-top: 15px;">GET HELP</h2>
	<div class="row" style="margin-top: 15px;">
		<div class="col-12">
			<div class="search">
				<input type="text" class="search_input center" placeholder="What can we help you with?"/>
			</div>
		</div>
	</div>
	<div class="row" style="display: block;margin-top: 15px;">
		
		<div class="col-12" style="margin-top: 15px;">
			<h5 style="text-align: center;">Radiology is the medical specialty that uses medical imaging to diagnose and treat diseases within the bodies of both humans and animals.</h5>
			<h5 style="text-align: center;">A variety of imaging techniques such as X-ray radiography, ultrasound, computed tomography (CT), nuclear medicine including positron emission tomography (PET), and magnetic resonance imaging (MRI) are used to diagnose or treat diseases. Interventional radiology is the performance of usually minimally invasive medical procedures with the guidance of imaging technologies such as those mentioned above.</h5>
			<img class = "center" src="/static/images/radiology.jpg" width="1000px" height="800px" />
		</div>
		<div class="col-12" style="margin-top: 15px;">
			<img class = "center" src="/static/images/contact.jpeg" width="100%" />
		</div>
		
	</div>
</div>
{% endblock %}